<h1>J Toor Forms</h1>
<div>
  <%= link_to "Fill out a Shirt form", new_shirt_path %>
</div>
<div>
  <%= link_to "Fill out a Suit form", new_suit_path %>
</div>
<br /><br />
<div>
  View Completed Forms
</div>
<div>
  <%= link_to "Shirts", shirts_path %>
</div>
<div>
  <%= link_to "Suits", suits_path %>
</div>



