/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 h4 {
 	font-weight: normal;
 	text-decoration: underline;
 }

.blockfield {
	border: 2px solid black;
	box-shadow: 5px 5px 10px #ccc;
	padding: 10px;
}

.blockfield label {
	padding-left:10px;
}

.additionalpad {
	margin-top:20px;
}

#logo {
	width:140px;
	margin-left:300px;
	margin-bottom: 20px;
}

#customerinfo {
	width: 750px;
}

#shirtmeasurements, #jacketmeasurements {
	width: 380px;
	display:inline-block;
}

#trousermeasurements {
	width:380px;
}

#shirt_shouldertype, #jacket_shouldertype {
	width:335px;
	display: inline-block;
	position: absolute;
	margin-left:10px;
}
#shirt_balancefigure {
	width:335px;
	display: inline-block;
	position: absolute;
	margin-left:10px;
	margin-top: 140px;
}

#jacket_balancefigure {
	width:335px;
	display: inline-block;
	position: absolute;
	margin-left:10px;
	margin-top: 163px;
}

#shirt_fitting {
	width:335px;
	display: inline-block;
	position: absolute;
	margin-left:10px;
	margin-top: 320px;
}

#jacket_fitting {
	width:335px;
	display: inline-block;
	position: absolute;
	margin-left:10px;
	margin-top: 350px;
}

#jacket_lining {
	width:335px;
	position:absolute;
	margin-left: 415px;
	margin-top:-280px;
}

#shirt_notes {
	width: 740px !important;
	margin-left: 10px;
	margin-top: 210px;
}
#shirt_notes textarea {
	width: 711px !important;
	height: 95px;
	margin-top: 0px;
}

#suit_notes {
	width:335px;
	position: absolute;
	margin-left: 415px;
	margin-top: -150px;
}

#suit_notes textarea {
	height:50px;
}

#shirt_material {
	margin-left: 270px;
	margin-top: 50px
}

.materialpad {
	margin-left: 10px;
	margin-top:50px;
}

#jacket_undercollar {
	margin-left: 130px;
}

#jacket_undercollar h {
	margin-left:-115px;
	font-family: 'Mr De Haviland';
	font-size: 30px;
	margin-right:10px;
}

#shirt_material label, #shirt_material h, #jacket_material label, #jacket_material h, 
#vest_material label, #vest_material h, #trouser_material label, #trouser_material h {
	font-family: 'Mr De Haviland';
	font-size: 30px;
	margin-right:10px;
}
#shirt_materialdetails {
	width:370px;
	display:inline-block;
	margin-left:10px;
}

#shirt_cuffstyle {
	width:170px;
	display: inline-block;
	position: absolute;
	margin-left:10px;
	margin-top: 19px;
}

#shirt_collarstyle{
	width:140px;
	display: inline-block;
	position: absolute;
	margin-left:220px;
	margin-top: 19px;
}

#jacket_singlebreasted, #vest_singlebreasted, #trousers_frontpockets{
	display:inline-block;
	margin-left:10px;
	margin-top:0px;
}

#jacket_doublebreasted {
	display:inline-block;
	position: absolute;
	margin-left:100px;
	margin-top:-0px;
}

#vest_doublebreasted, #trousers_pleats{
	display:inline-block;
	position: absolute;
	margin-left:50px;
	margin-top:-0px;
}

#vest_back, #trousers_rearpockets {
	display:inline-block;
	position: absolute;
	margin-left:220px;
	margin-top:-0px;
}

#jacket_vent {	
	display:inline-block;
	position: absolute;
	margin-left:350px;
	margin-top:-0px;

}

#jacket_lapels {	
	display:inline-block;
	position: absolute;
	margin-left:540px;
	margin-top:-0px;
}

#suit_trouser_cuff_other_note {
	width:70px;
}

#vest_lapels, #trousers_cuff {
	display:inline-block;
	position: absolute;
	margin-left:330px;
	margin-top:-0px;
}

#shirt_buttons {
	margin-left:100px;
}

#jacket_buttons {
	/*display: inline-block;*/
	position: absolute;
	margin-left:200px;
	margin-top:30px;

}

#vest_buttons {
	margin-top:80px;
	margin-left:10px;
}

#shirt_pockets {
	margin-left:100px;
	width: 350px;
	display:inline-block;
}

#jacket_pockets {
	margin-top:48px;
	margin-left:10px;
}

#vest_pockets {
	display:inline-block;
	position: absolute;
	margin-left:430px;
	margin-top:-0px;
}

#trousers_fasteners {
	display:inline-block;
	position: absolute;
	margin-left:490px;
	margin-top:-0px;
}

#shirt_detailing {
	display: inline-block;
	margin-left:100px;
	position:absolute;
}

#jacket_detailing {
	position: absolute;
	margin-left:600px;
	margin-top:-160px;
}

#vest_detailing {
	display:inline-block;
	position: absolute;
	margin-left:530px;
	margin-top:-0px;
}

#shirt_morenotes {
	margin-top: 100px;
	margin-left:10px;
	
}
#shirt_morenotes textarea {
	width:750px;
	height:60px;
}

#jacket_note {
	margin-left:10px;
}

#jacket_note textarea{
	width:750px;
	height:60px;
}

#vest_note {
	margin-left: 379px;
	position: absolute;
	margin-top: -122px;
}

#vest_note textarea{
	width: 562px;
	height: 50px;
}

#trousers_note {
		display:inline-block;
	position: absolute;
	margin-left:670px;
	margin-top:-0px;
}

#trousers_note textarea{
	width: 170px;
	height: 70px;
}

#shirt_attach, #suit_attach {
	margin-left:300px;
}
#suit_attach {
	margin-top:100px;
}

#shirt_attach h3, #suit_attach h3 {
	font-family: 'Mr De Haviland', cursive;
	font-size: 30px;
	margin-right:10px;
}


